<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Cannvia</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#8850F4">
  <meta name="msapplication-navbutton-color" content="#003174">
  <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>

<body>

<header class="header">
    <div class="header-wrapper">
        <a href="/" class="header-logo">
            <img src="../../images/logo.png" alt="">
        </a>
        <div class="header-right">
            <ul class="header-menu">
                <li><a href="/products/">Products</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
            </ul>
            <a href="/login/" class="btn header-btn">Client Zone</a>
            <div class="mobile-menu__btn">
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="mobile-menu__wrapper">
    <ul class="mobile-menu">
        <li><a href="/products/">Products</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <a href="/login/" class="btn">Client Zone</a>
</div>

  <main class="main">
    <div class="products-main-top">
      <img src="../../images/product-main-bg.png" alt="">
      <div class="container">
        <div class="products-main-top__inner">
          <span class="products-main-title">Co nabízíme</span>
            <div class="products-main-list">
                Je libo hedvábně jemný konopný olej? Hříšně hravou sladkost? Nebo něžně surové materiály pro váš byznys? Stoprocentně český původ, šetrný přístup i parádní kvalita konopných výrobků je to, co jsme v českých luzích a hájích potřebovali jako … CBD. Čím se ještě lišíme? Všechny naše výrobky jsou plně certifikované. Nejedná se o certifikát udělaný na koleni, ale o přísné posudky nezávislých laboratoří třetích stran, u kterých nelze ovlivnit jejich výsledek. I na to jsme právem hrdí.
            </div>
        </div>
      </div>
    </div>
    <div class="products-small">
      <div class="container">
        <ul class="products-small-list">
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-01.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-01.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-02.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-02.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Capsules</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-03.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-03.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Gummies</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-04.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-04.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Vapes</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-05.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-05.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-05.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Cosmetics</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-06.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-06.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-06.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Flowers</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-07.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-07.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-07.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Distillate</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-08.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-08.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-08.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Isolate</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-09.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-09.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-09.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Seeds</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-10.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-10.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-10.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD For Animals</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="products-catalog">
      <svg class="products-wave-top" viewBox="0 0 1920 540" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M-72.6608 230.02C-72.5195 102.238 389.778 -0.361058 959.909 0.859161C1530.04 2.07938 1992.11 106.657 1991.97 234.439C2022.86 494.735 1641.99 637.347 959.397 463.6C276.805 289.853 -73.0271 561.236 -72.6608 230.02Z"
          fill="#F2F3F5" />
      </svg>
      <svg class="products-wave-middle" viewBox="0 0 1920 1092" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M-0.0865479 171.533H1929.63V1092C1875.17 1063.86 1788.13 1067.27 1669.03 1071.93C1499.24 1078.58 1264.26 1087.79 965.578 1011.76C472.226 886.186 136.488 925.872 -0.0865479 1055.81V171.533Z"
          fill="#F2F3F5" />
        <path
          d="M1997.66 310.98C1997.52 438.762 1535.22 541.361 965.09 540.141C394.959 538.921 -67.1087 434.344 -66.9674 306.561C-97.8631 46.265 283.01 -96.3468 965.601 77.4001C1648.19 251.147 1998.03 -20.2365 1997.66 310.98Z"
          fill="#F2F3F5" />
      </svg>
      <svg class="products-wave-bottom" viewBox="0 0 1920 540" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1997.66 309.98C1997.52 437.762 1535.22 540.361 965.09 539.141C394.959 537.921 -67.1087 433.344 -66.9674 305.561C-97.8631 45.265 283.01 -97.3468 965.601 76.4001C1648.19 250.147 1998.03 -21.2365 1997.66 309.98Z"
          fill="#F2F3F5" />
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-01.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-01.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Oleje</span>
                <div class="products-catalog-item__text">
                    <p>Jste ve světě CBD začátečník? Tak je statisticky velmi pravděpodobné, že vaše první volba padne na CBD olej. Ten se již dlouhá léta drží na špičce pomyslné konopné pyramidy a právem je u zákazníků tou nejpopulárnější volbou. Kromě klasiky s konopným výtažkem a olejem nabízíme i vlastní řadu s bylinnými extrakty, speciálními terpeny a neodolatelnými příchutěmi. Zkusíte je taky? </p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-02.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-02.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Kapsle</span>
                <div class="products-catalog-item__text">
                  <p>CBD kapsle sice patří do kategorie méně hravých způsobů užívání, zato se ale pyšní jinými výhodami. Kromě toho, že jsou čistě veganské, nabízejí i nejjednodušší a pohodlnou formu užívání. A ačkoliv je momentálně nabízíme ve formě klasického CBD, tak je do budoucna, stejně jako jejich olejové kolegy, obohatíme i o kvalitní bylinné výtažky.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-03.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-03.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Sladkosti</span>
                <div class="products-catalog-item__text">
                  <p>Pokud máte hravou náladu a zároveň vás honí mlsná, tak jsou naše gumové bonbóny určené přímo pro vás. Kromě skvělé chuti totiž nabízejí i zdraví prospěšné kanabinoidy. Společně s patentovanými technologiemi a speciálními výrobními procesy je tato forma užívání nejen chutná a povzbuzující, ale na českém trhu i velmi neobvyklá.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-04.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-04.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Vaporizéry</span>
                <div class="products-catalog-item__text">
                  <p>Vaporizéry s CBD jsou skvělé z několika důvodů. Účinné látky z kanabinoidů se po inhalaci vstřebají takřka okamžitě – oproti ostatním produktům několikanásobně rychleji. Z tohoto důvodu je ocení nejenom jedinci s akutní potřebou po denní dávce zeleně. Navíc se jedná o poměrně stylovou záležitost, po které sáhnou kovaní connoisseuři i lidé s oblibou ve vytříbeném životním stylu.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-05.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-05.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-05.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Kosmetika</span>
                <div class="products-catalog-item__text">
                  <p>Někdy je potřeba se zaměřit na konkrétní místo a věnovat mu veškerou sílu konopí. Díky vnějšímu užití je tak konopná kosmetika ideální volbou pro hojení ran, léčení ekzémů a mnoho dalšího.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-06.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-06.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-06.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Květy</span>
                <div class="products-catalog-item__text">
                  <p>Kytice pro dámu i pro pána, všechny opravdové fajnšmekry, i pacienty se zdravotními problémy. Oblíbený produkt uživatelů cannabisu přináší alternativu ke konvenčním lékům, a to bez psychotropních účinků. Naše květy pěstujeme výhradně ve vnitřních prostorách za použití nejmodernějších technologií, dlouholetého know-how i opravdové vášně. Z tohoto důvodu jsou zárukou kvality, kterou v Česku ani okolních zemích jen tak nenajdete. A hledali jsme velmi pečlivě.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-07.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-07.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-07.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Pro zvířata</span>
                <div class="products-catalog-item__text">
                  <p>Potřebuje váš mazlík duševní či fyzickou vzpruhu? Tak mu dopřejte blahodárné účinky kanabisu. Naše speciálně navržené produkty s CBD mu mohou pomoci při epilepsii, roztroušené skleróze, stresu, kožních nemocech nebo třeba při tišení bolesti. Navíc se jedná o nutričně vyvážený produkt, který může konzumovat na denní bázi. Třeba i jenom tak, pro radost ze života.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-08.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-08.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-08.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Destilát</span>
                <div class="products-catalog-item__text">
                  <p>Toužíte po vlastních produktech s CBD? Tak jistě oceníte CBD destilát - základ každého kvalitního produktu, který obsahuje všechny potřebné kanabinoidy. Navíc je vyrobený čistě z českých surovin, pochlubit se může všemi potřebnými certifikáty a je konzistentní nejenom v lahvi, ale především ve své vysoké kvalitě.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-09.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-09.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-09.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Izolát</span>
                <div class="products-catalog-item__text">
                  <p>Právě jste objevili nejčistější formu CBD. Ideální je především na další zpracování, experimenty i konzumaci.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="javascript:void(0)" class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-10.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-10.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-10.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Semena a klony</span>
                <div class="products-catalog-item__text">
                  <p>Naše nabídka by nebyla kompletní bez našich semen a klonů. Ty pěstujeme vlastníma rukama na vlastní půdě - proto ručíme za to, že všechny odrůdy prošly velmi důkladnou selekcí. Z tohoto důvodu se mohou pochlubit světovou kvalitou i důkladnou péčí, která stojí na špici evropské ligy.</p>
                </div>
              </div>
              <span class="products-catalog-item__link">Check this product</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
