<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Cannvia</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#8850F4">
  <meta name="msapplication-navbutton-color" content="#003174">
  <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="products-main-top">
      <img src="../../images/product-main-bg.png" alt="">
      <div class="container">
        <div class="products-main-top__inner">
          <span class="products-main-title">Co nabízíme</span>
          <ul class="products-main-list">
            <li>široká škála produktů od značek co nabízí cannvia, whitelabel produkty které si mohou zabalit jako
              svoje, surové materiály</li>
            <li>vše nejvyšší kvality</li>
            <li>made in cz</li>
            <li>vše plně certifikované - kontext: při prodeji cbd musí vždy produkt projít laborkou a ne vždy jsou ty
              laborky opravdu
              nezávislé, u nás to jsou ověřené třetí strany, u kterých nemůže dojít k ovlivnění výsledku
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="products-small">
      <div class="container">
        <ul class="products-small-list">
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-01.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-01.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-02.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-02.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-03.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-03.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-04.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-04.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-05.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-05.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-05.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-06.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-06.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-06.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-07.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-07.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-07.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-08.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-08.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-08.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-09.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-09.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-09.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" class="products-small-item">
              <div class="products-small-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-small-pic-10.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-small-pic-10.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-small-pic-10.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <span class="products-small-item__title">CBD Oils</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="products-catalog">
      <svg class="products-wave-top" width="1920" height="540" viewBox="0 0 1920 540" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M-72.6608 230.02C-72.5195 102.238 389.778 -0.361058 959.909 0.859161C1530.04 2.07938 1992.11 106.657 1991.97 234.439C2022.86 494.735 1641.99 637.347 959.397 463.6C276.805 289.853 -73.0271 561.236 -72.6608 230.02Z"
          fill="#F2F3F5" />
      </svg>
      <svg class="products-wave-middle" width="1920" height="1092" viewBox="0 0 1920 1092" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M-0.0865479 171.533H1929.63V1092C1875.17 1063.86 1788.13 1067.27 1669.03 1071.93C1499.24 1078.58 1264.26 1087.79 965.578 1011.76C472.226 886.186 136.488 925.872 -0.0865479 1055.81V171.533Z"
          fill="#F2F3F5" />
        <path
          d="M1997.66 310.98C1997.52 438.762 1535.22 541.361 965.09 540.141C394.959 538.921 -67.1087 434.344 -66.9674 306.561C-97.8631 46.265 283.01 -96.3468 965.601 77.4001C1648.19 251.147 1998.03 -20.2365 1997.66 310.98Z"
          fill="#F2F3F5" />
      </svg>
      <svg class="products-wave-bottom" width="1920" height="540" viewBox="0 0 1920 540" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1997.66 309.98C1997.52 437.762 1535.22 540.361 965.09 539.141C394.959 537.921 -67.1087 433.344 -66.9674 305.561C-97.8631 45.265 283.01 -97.3468 965.601 76.4001C1648.19 250.147 1998.03 -21.2365 1997.66 309.98Z"
          fill="#F2F3F5" />
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-01.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-01.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Vaporizéry</span>
                <div class="products-catalog-item__text">
                  <ul>
                    <li>statisticky světově stále majoritní podíl na trhu nad ostatními CBD produtky = nejpopulárnější
                      volba pro zákazníky

                    </li>
                    <li>nabízíme klasické oleje s konopným výtažkem a konopným olejem, ale hlavně i ty speciální s
                      bylinnými extrakty,
                      speciálními terpeny, příchutěmi, aj.

                    </li>
                  </ul>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-02.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-02.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Kapsle</span>
                <div class="products-catalog-item__text">
                  <ul>
                    <li>nejjedodušší forma užívání</li>
                    <li>oblíbená volba konzervativnějších zákazníků</li>
                    <li>nyní pouze CBD, brzy budeme dělat i ty speciální s bylinnými extrakty stejně jako oleje</li>
                    <li>vegan</li>
                  </ul>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-03.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-03.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Sladkosti</span>
                <div class="products-catalog-item__text">
                  <ul>
                    <li>nejhravější forma užívání</li>
                    <li>jedinečnost na čekém trhu díky naším patentovaným technologiím a výrobním procesům</li>
                    <li>přinášíme tak světovou chuť gumových bonbonů které obohacujeme o zdraví prospěšné kanabinoidy
                    </li>
                  </ul>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-04.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-04.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Vaporizéry</span>
                <div class="products-catalog-item__text">
                  <ul>
                    <li>oproti ostatním produktům, u kterých člověk musí po požití kanabinoidy trávit, se účinné látky
                      při inhalaci vstřebávají skoro ihned a tak se účinek dostavuje mnohem rychleji</li>
                    <li>ideální pro akutní potřebu ale zároveň i pro lifestyle lidičky</li>
                  </ul>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-05.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-05.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-05.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Kosmetika</span>
                <div class="products-catalog-item__text">
                  <p>díky vnějšímu užití se dají efekty směřovat na konkrétní místo pro utišení bolesti, pro podporu
                    léčení ran a exémů a mnoho dalšího</p>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-06.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-06.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-06.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Květy</span>
                <div class="products-catalog-item__text">
                  <ul>
                    <li>Oblíbený produkt uživatelů cannabisu který přináší léčivou alternativu bez psycotropních účiků -
                      bez head high</li>
                    <li>opravdový požitek pro fajnšmekry</li>
                    <li>Pěstování ve vnitřích prostorech za použití nejmodernějších technologií ve spojením s naším
                      dlouholetým know-how je
                      opravdovou zárukou kvality, kterou jinde nenajdete. Kombinace umělého osvětlení, organických BIO
                      hnojiv a hydroponického
                      systému navíc zajišťuje absolutní konzistenci.
                    </li>
                  </ul>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-07.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-07.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-07.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Pro zvířata</span>
                <div class="products-catalog-item__text">
                  <ul>
                    <li>dopřejte blahodárné účinky kanabisu i svým mazlíčkům</li>
                    <li>to nejlepší pro jeho duševní a fyzickou kondici</li>
                    <li>naše produky s CBD mu můžou pomoci při epilepsii, roztroušené skleróze, stresu, depresích,
                      kožních nemocech nebo utišit
                      bolest, která může být způsobena nemocí, nebo úrazem.</li>
                  </ul>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-08.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-08.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-08.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Destilát</span>
                <div class="products-catalog-item__text">
                  <p>ideální pokud chcete dále zpracovávat do vlastních produktů, ale chcete mít jistotu, že základ
                    vašeho produktu, destilát
                    obsahující všechny potřebné kanabinoidy, pochází z naší krajiny a má veškeré potřebné certifikáty a
                    je konzistentní v
                    kvalitě
                  </p>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-09.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-09.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-09.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Izolát</span>
                <div class="products-catalog-item__text">
                  <p>nejčistčí forma CBD - také ideální na další zpracování</p>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="products-catalog-item">
              <div class="products-catalog-item__pic">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/products-catalog-item-10.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/products-catalog-item-10.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/products-catalog-item-10.png"
                    class="lazy" alt="">
                </picture>
              </div>
              <div class="products-catalog-item__about">
                <span class="products-catalog-item__title">CBD Semena a klony</span>
                <div class="products-catalog-item__text">
                  <p>nabízíme semena a klony které sami přestujeme, nebo bychom sami pěstovali/pěstovat budeme - máte
                    tedy jistotu, že odrůdy
                    prošly důkladnou selekcí a nabízíme tedy opravdu jenom topshelf věci, které jdou bok po boku se
                    světovou kvalitou
                  </p>
                </div>
              </div>
              <a class="products-catalog-item__link" href="javascript:void(0)">Check this product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
