<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Cannvia</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#8850F4">
  <meta name="msapplication-navbutton-color" content="#003174">
  <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>

<body>

<header class="header services">
    <div class="header-wrapper">
        <a href="/" class="header-logo">
            <img src="../../images/logo.png" alt="">
        </a>
        <div class="header-right">
            <ul class="header-menu">
                <li><a href="/products/">Products</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
            </ul>
            <a href="/login/" class="btn header-btn">Client Zone</a>
            <div class="mobile-menu__btn">
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="mobile-menu__wrapper">
    <ul class="mobile-menu">
        <li><a href="/products/">Products</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <a href="/login/" class="btn">Client Zone</a>
</div>

<main class="main services">
    <div class="services-section cultivation">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Velkoobchod</span>
              <strong>Hledáte velkoobchodního dodavatele CBD?</strong>
              <p>
                Dobrá zpráva. Kdo hledá, najde! Cannvia a naše dceřiné značky pokryjí vše, na co si jen vzpomenete. Naše produkty totiž navrhujeme s ohledem na co nejširší cílové skupiny. Mladí či zralí, sportovci či kavárníci? Trefte se do vkusu svých zákazníků širokou nabídkou výrobků, které v Česku jen tak nenajdete. A pokud chcete něco navíc, tak nabízíme i přístup k whitelabel produktům, nebo třeba surovým materiálům určeným pro vlastní zpracování.
                <br>
                  Všechny produkty, certifikované pro prodej v EU, vyrábíme výhradně v České republice. Dodavatelský řetězec navíc kontrolujeme opravdu od A do Z - od pěstování surovin, až po navrhování nejefektivnějších výrobních procesů. Díky tomu poskytujeme konzistentní konopné produkty v áčkové kvalitě. O béčka totiž nestojíme my, ani naši klienti.
              </p>
              <strong>White label</strong>
              <p>Veškeré produkty nabízíme také ve variantě white label, tedy bez etikety. To vám otevírá bezstarostnou možnost prodávat již formulované, certifikované a zákazníky ověřené produkty pod svojí vlastní značkou. A pokud byste chtěli zabrousit do opravdových pravidel etikety, tak vám v rámci našeho private label programu zajistíme tisk i polep vlastních štítků (ať se vyhnete případnému faux-pas).</p>
              <strong>Velkoobchodní systém</strong>
              <p>Získejte přístup ke všem produktům a materiálům ve všech myslitelných variantách, a to společně se speciálními nabídkami a výhodami. Chcete si usnadnit doplňování skladu? Náš velkoobchodní systém nabízí i možnost jednoduchého opakování objednávek, či sledování nejprodávanějších produktů. A navíc ušetříte spoustu času pro vaše podnikání. Win-win.</p>
            </div>
          </div>
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">

              <picture>
                <source media="(max-width: 991px)" srcset="../../images/pixel.webp"
                  data-original="../../images/services-bg-01-m.webp" class="lazy-web" type="image/webp">
                <source media="(max-width: 991px)" srcset="../../images/pixel.png"
                  data-original="../../images/services-bg-01-m.png" class="lazy-web" type="image/png">
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-01.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-01.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services-section wholesale">
      <svg viewBox="0 0 2067 796" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.339941 457.478C0.481601 645.875 462.779 797.147 1032.91 795.353C1603.04 793.559 2065.11 639.378 2064.97 450.981C2095.86 67.2115 1714.99 -143.053 1032.4 113.107C349.806 369.267 -0.0272445 -30.8532 0.339941 457.478Z"
          fill="white" />
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-02.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-02.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-02.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Pěstování</span>
              <strong>Udržitelné a moderní pěstování</strong>
              <p>Rostliny pěstujeme v umělém i přirozeném prostředí. Neocenitelný pomocník, bez kterého by to nešlo, má podobu nejnovější dostupné techniky. Ta jde ruku v ruce s moderními poznatky, letitou praxí i  odbornými výzkumy. Výsledek? Organicky pěstované konopí v nejvyšší dostupné kvalitě. Čistě, precizně a udržitelně.</p>

              <strong>Vykryjeme záda i vám</strong>
              <p>
                  Máme spoustu místa. Máme prostředky. A hlavně máme zápal k tomu, abychom pokryli i ta nejsmělejší pěstitelská přání. Toužíte po vlastní džungli, nebo spíše decentnímu keříku? Zainvestujte s námi do vlastní sklizně, kterou vypěstujeme s láskou, vášní i potřebnou odborností.
                  <br>
                  Zajistíme pro vás vše. Od prostorů, přes vybavení i vhodné květiny, až po na slovo vzaté odborníky. Ti vám vybrané odrůdy zasadí, vypěstují, sklidí a zpracují podle vašich individuálních potřeb. Ruční sběr i péče, která je navíc kompletně na klíč, bez starostí a zbytečných výdajů. Váháte?
              </p>
              <strong>Roste trh a rosteme my. Porostete s námi?</strong>
              <p>Konopný průmysl je momentálně jedno z nejrychleji rostoucích odvětví. A my rozhodně nejsme pozadu. V blízké dobře rozšíříme naše pole působnosti o čistokrevné venkovní pěstování, a to na rozloze několika desítek hektarů zemědělské půdy. Přidáte se?</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="services-section formulation">
      <svg width="1920" height="1021" viewBox="0 0 1920 1021" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M-0.0865479 160.381H1929.63V1021C1875.17 994.687 1788.13 997.875 1669.03 1002.24C1499.24 1008.46 1264.26 1017.06 965.578 945.979C472.226 828.568 136.488 865.673 -0.0865479 987.159V160.381Z"
          fill="#F2F3F5" />
        <path
          d="M1997.66 290.761C1997.52 410.235 1535.22 506.163 965.09 505.022C394.959 503.881 -67.1089 406.104 -66.9676 286.629C-97.8633 43.2572 283.01 -90.0823 965.601 72.3679C1648.19 234.818 1998.03 -18.9205 1997.66 290.761Z"
          fill="#F2F3F5" />
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Formulace</span>
              <strong>Formulaci produktů vyřešíme za vás…</strong>
              <p>Máte představu o výsledném efektu, vůni či příchuti? Nebo teprve hledáte hranice svých možností? Formulaci libovolného produktu vám ušijeme na míru a dotáhneme do zdárného konce. Za prvotřídní kvalitu ručíme expertním přístupem, laboratořemi na světové úrovni i kvalitními surovinami z certifikovaných zdrojů. Veškerý proces navíc probíhá výhradně v České republice.</p>
              <strong>… a výrobu jakbysmet </strong>
              <p>
                  Vysněný produkt pomalu dostává svůj tvar. Ještě zbývá navrhnout a doladit ideální výrobní proces. Jak na to? Potřebné suroviny od ověřených dodavatelů i samotnou výrobu zajistíme od začátku do konce, a to v libovolném objemu. Velkoobchod či maloobchod? S jakýmkoliv číslem se popereme levou zadní.
                  <br>
                  Finální výrobek vždy a bez výjimky testujeme. Jedině tak si můžeme být jisti, že dlouhodobě splňuje veškeré podmínky jedničkové kvality. Co zbývá na vás? Užívat si výhody naší komplexní zákaznické péče a soustředit se na svoji prodejní strategii. Bez zbytečného šumu a starostí navíc.
              </p>
            </div>
          </div>
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-03.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-03.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-03.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services-section private">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-04.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-04.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-04.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Private Label</span>
              <strong>Produkty, brand a nová identita v jednom</strong>
              <p>
                  Toužíte po vlastní značce CBD produktů, ale nevíte, kde začít? Nebo chcete ušetřit čas a pěknou řádku starostí?
                  <br>
                  Nezáleží na tom, zda zakládáte dceřinou společnost, nebo se svým brandem začínáte hezky od píky. Celým procesem vás provedeme krok za krokem a zajistíme vše, co budete k této odysee potřebovat. Vašemu produktu dokážeme vdechnout zajímavou podobu, následně s ním oslovíme ty správné lidi, nebo je přimějeme k tomu, aby na vás mysleli každý den před spaním.
              </p>

              <strong>Máme hlavy, know-how, zkušenosti i soudnost</strong>
              <p>Víme, že každá značka potřebuje svůj vlastní přístup. Celým procesem vás proto provedou naši kolegové odborníci. Ti s vámi budou odborně konzultovat každý jednotlivý krok. Možná budete chtít začít u tvorby chytlavého vizuálu, který bude vhodně reprezentovat vás i vaše produkty. Nebo se vrhneme k nadefinování produktu, tedy k tomu, jak bude chutnat, vonět a působit? Záleží čistě na vás. Dle vašich preferencí následně nastavíme výrobu. A hry můžou začít.</p>

              <strong>Vytváříme smysluplnou identitu s nejlepšími výsledky:</strong>
              <b>Vizuální komunikace</b>
              <ul>
                <li>tvorba brandu</li>
                <li>package design</li>
                <li>web design</li>
                <li>tvorba tiskových materiálů (brožur, letáků či ceníků)</li>
              </ul>

              <b>Produktová řada</b>
              <ul>
                <li>definování cílových skupin</li>
                <li>tvorba a finalizace produktové řady</li>
              </ul>

              <b>Formulace</b>
              <ul>
                <li>tvorba formulací jednotlivých produktů</li>
                <li>laboratorní testování</li>
              </ul>

              <b>Výroba</b>
              <ul>
                <li>zajištění výrobního procesu</li>
                <li>výroba produktů</li>
              </ul>

              <b>Výstupní produkt</b>
              <ul>
                <li>polepení etiketami</li>
                <li>testování produktů nezávislou laboratoří</li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- 
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-8">

        </div>
      </div>
    </div> -->

  </main>
  ${require('../parts/footer.html')}
</body>

</html>
