<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Cannvia</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#8850F4">
  <meta name="msapplication-navbutton-color" content="#003174">
  <meta name="apple-mobile-web-app-status-bar-style" content="#003174">
</head>

<body>

<header class="header services">
    <div class="header-wrapper">
        <a href="/" class="header-logo">
            <img src="../../images/logo.png" alt="">
        </a>
        <div class="header-right">
            <ul class="header-menu">
                <li><a href="/products/">Products</a></li>
                <li><a href="/services/">Services</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
            </ul>
            <a href="javascript:void(0)" class="btn header-btn">Client Zone</a>
            <div class="mobile-menu__btn">
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="mobile-menu__wrapper">
    <ul class="mobile-menu">
        <li><a href="/products/">Products</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <a href="javascript:void(0)" class="btn">Client Zone</a>
</div>

<main class="main services">
    <div class="services-section cultivation">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Velkoobchod</span>
              <strong>Snažíte se najít důvěryhodného velkoobchodního dodavatele CBD
                produktů?</strong>
              <p>Pak už dále nehledejte. Cannvia a její značky pokryjí vešekeré vaše potřeby.
                Díky různým cílovým skupinám a diverzitě
                produktů, které Cannvia se svými značkami nabízí, je jednoduché se trefit do vkusu svých zákazníků a
                nabídnout
                jim
                populární volbu. V našem systému máte ovšem přístup i k whitelabel produktům bez etiket, či surovým
                materiálům
                pro
                vlastní zpracování.<br>
                Všechny produkty jsou vyráběny výhradně v České Republice a certifikovány pro prodej v EU. Dodavatelský
                řetězec navíc
                kontrolujeme opravdu od A do Z - od pěstování surovin až po nejefektivnější výrobní procesy. Díky tomu
                můžeme
                společně
                našim zákazníkům poskytovat konzistentní konopné produkty bezkonkurenční kvality.</p>
              <strong>White label</strong>
              <p>Veškeré produkty nabízíme také ve variantě white label, tedy bez etikety. Dává Vám to tedy možnost
                bezstarostně prodávat
                již formulované, certifikované a zákazníky ověřené produkty pod svojí značkou. Případně vám v rámci
                našeho
                private label
                programu zajistíme tisk i polep etiket.</p>
              <strong>Velkoobchodní systém</strong>
              <p>Díky našemu velkoobchodnímu systému budete mít přístup ke všem produktům a materiálům ve všech
                myslitelných
                variantách
                spolu se speciálními nabídkami a výhodami. Díky možnosti jednoduchého opakování objednávek a sledování
                nejprodávanějších
                produktů jak vašich, tak ostatních na platformě, je doplňování skladů hračka. Ušetříte tak spoustu času,
                který
                můžete
                aktivně věnovat vašemu podnikání.</p>
            </div>
          </div>
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">

              <picture>
                <source media="(max-width: 991px)" srcset="../../images/pixel.webp"
                  data-original="../../images/services-bg-01-m.webp" class="lazy-web" type="image/webp">
                <source media="(max-width: 991px)" srcset="../../images/pixel.png"
                  data-original="../../images/services-bg-01-m.png" class="lazy-web" type="image/png">
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-01.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-01.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services-section wholesale">
      <svg viewBox="0 0 2067 796" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.339941 457.478C0.481601 645.875 462.779 797.147 1032.91 795.353C1603.04 793.559 2065.11 639.378 2064.97 450.981C2095.86 67.2115 1714.99 -143.053 1032.4 113.107C349.806 369.267 -0.0272445 -30.8532 0.339941 457.478Z"
          fill="white" />
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-02.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-02.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-02.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Pěstování</span>
              <strong>Udržitelné moderní pěstování</strong>
              <p>Opíráme se nejen o vlastní letité zkušenosti s pěstováním rostlin v umělých i venkovních prostorách,
                ale
                velmi zásadně
                také o nejnovější technologie, poznatky a výzkumy v našem oboru. Výsledkem je tedy prvotřídní organicky
                pěstované
                konopí.</p>

              <strong>Pokryjeme i Vaše pěstitelské potřeby</strong>
              <p>Máme prostor, prostředky i zápal k tomu, abychom pokryli i Vaše nadstandardní potřeby. S námi můžete
                zainvestovat rovnou
                i do vlastní sklizně, o kterou se od A do Z postaráme. Zajistíme vše od prostorů, vybavení, květin a
                odborníků, kteří
                Vámi vybrané odrůdy vypěstují, sklidí a libovolně zpracují. Na klíč a bez starostí.</p>
              <strong>Roste trh a my rosteme s ním</strong>
              <p>Konopný průmysl je momentálně jeden z nejrychleji rostoucích a my jdeme s ním. V blízké dobře rozšíříme
                naše
                pole
                působnosti i na venkovní pěstování a to o několik dalších hektarů zemědělské půdy.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="services-section formulation">
      <svg width="1920" height="1021" viewBox="0 0 1920 1021" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M-0.0865479 160.381H1929.63V1021C1875.17 994.687 1788.13 997.875 1669.03 1002.24C1499.24 1008.46 1264.26 1017.06 965.578 945.979C472.226 828.568 136.488 865.673 -0.0865479 987.159V160.381Z"
          fill="#F2F3F5" />
        <path
          d="M1997.66 290.761C1997.52 410.235 1535.22 506.163 965.09 505.022C394.959 503.881 -67.1089 406.104 -66.9676 286.629C-97.8633 43.2572 283.01 -90.0823 965.601 72.3679C1648.19 234.818 1998.03 -18.9205 1997.66 290.761Z"
          fill="#F2F3F5" />
      </svg>

      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Formulace</span>
              <strong>Svěřte nám formulace vašich produktů</strong>
              <p>Můžete se tak plně zaměřit na konkrétní problém, který chcete produktem řešit. Ať už máte v hledáčku
                jakýkoliv výsledný
                efekt, vůni či příchuť, formulaci libovolného produktu navrhneme a vyvineme na míru vašim potřebám a
                požadavkům. Vše za
                vedení odborníků s expertním přístupem na světové úrovni ve špičkově vybavených laboratorních
                prostorech.</p>
              <strong>O výrobu se postaráme</strong>
              <p>Zajistíme dodavatele všech potřebných složek vašich vysněných produktů a navrhneme pro ně výrobní
                proces. Ten
                jsme
                schopni díky našim kapacitám zajistit v libovolném velkoobjemovém měřítku tak, aby vám opravdu už nic
                nestálo
                v cestě.
                Výsledné produkty vždy testujeme, takže máte vždy záruku jejich konzistentní kvality. S naší komplexní
                zákaznickou péčí
                si tak mezitím můžete hodit nohy na stůl a soustředit se pouze na prodej finálního produktu bez zbytečné
                zátěže.</p>
            </div>
          </div>
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-03.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-03.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-03.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services-section private">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-4">
            <div class="services-bg">
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/services-bg-04.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/services-bg-04.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/services-bg-04.png" class="lazy" alt="">
              </picture>
            </div>
          </div>
          <div class="col-lg-5 col-md-8">
            <div class="services-text">
              <span>Private Label</span>
              <strong>Produkty i brand na míru</strong>
              <p>Chcete CBD produkty prodávat, ale nechcete s nimi mít absolutně žádnou starost? Ať už by se jednalo o
                odnož
                vašeho
                mateřského brandu, nebo o brand úplně nový, zajistíme vám kompletní proces. Záleží už ovšem na vás které
                z
                těchto služeb
                budete chtít využít, můžete vše kombinovat tak jak vám bude vyhovovat.</p>

              <strong>Budete v dobrých rukou</strong>
              <p>Celým procesem vás provedou naši odborníci, se kterými budete vše konzultovat a kteří vám budou po
                celou dobu
                oporou.
                Prvně se zaměříte na produktovou řadu mířenou na vaší cílovou skupinu a na vizuál, který by měl vaše
                produkty
                reprezentovat. V další řadě společně definujete produkty do hloubky se všemi chtěnými efekty, vůněmi a
                chutěmi. Dle
                vašich požadavků nastavíme výrobu a produkce může začít.</p>

              <strong>Co tedy konkrétně zajistíme?</strong>
              <b>Vizuální komunikace</b>
              <ul>
                <li>tvorba brandu</li>
                <li>package design</li>
                <li>web design</li>
                <li>tvorba veškerých podpůrných materiálů jako např. brožur, letáků, ceníků</li>
              </ul>

              <b>Produktová řada</b>
              <ul>
                <li>konfirmace cílových skupin</li>
                <li>finalizace produktové řady</li>
              </ul>

              <b>Formulace</b>
              <ul>
                <li>tvorba formulací jednotlivých produktů</li>
                <li>laboratorní testování</li>
              </ul>

              <b>Výroba</b>
              <ul>
                <li>tvorba výrobního procesu</li>
                <li>výroba produktů</li>
              </ul>

              <b>Výstupní produkt</b>
              <ul>
                <li>polepení etiketami</li>
                <li>testování produktů nezávislou laboratoří</li>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </div>

    <!-- 
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-8">

        </div>
      </div>
    </div> -->

  </main>
  ${require('../parts/footer.html')}
</body>

</html>
