<header class="header services">
  <div class="header-wrapper">
    <a href="javascript:void(0)" class="header-logo">
      <img src="../../images/logo.png" alt="">
    </a>
    <div class="header-right">
      <ul class="header-menu">
        <li><a href="javascript:void(0)">Products</a></li>
        <li><a href="javascript:void(0)">Services</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
      </ul>
      <a href="javascript:void(0)" class="btn header-btn">Client Zone</a>
      <div class="mobile-menu__btn">
        <span></span>
      </div>
    </div>
  </div>
</header>
<div class="mobile-menu__wrapper">
  <ul class="mobile-menu">
    <li><a href="javascript:void(0)">Products</a></li>
    <li><a href="javascript:void(0)">Services</a></li>
    <li><a href="javascript:void(0)">Contact</a></li>
  </ul>
  <a href="javascript:void(0)" class="btn">Client Zone</a>
</div>
